@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h5>TELERIK-MVC-TRAINING</h5>
        <p class="lead text-muted">TelerikMvcTraining is a MVC web app to practice the most popular componets from Telerik library.</p>
        <p><a href="https://demos.telerik.com/aspnet-mvc?_ga=2.164112383.1524206460.1609935354-1862268976.1609670797" class="k-button k-primary">Learn more &raquo;</a></p>
    </div>*@

<div class="wrapper">
    <div class="row">
        <div class="col-md mt-4 mb-4">
            <div class="container">
                <div class="front" style="background-image: url('../../Content/img/Gradients/Great Whale.png')">
                    <div class="inner">
                        <p>Grid</p>
                        <span>@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/img/Components/grid.svg")))</span>
                    </div>
                </div>

                <div class="back">
                    <div class="inner">
                        <p>The Grid allows users to browser, edit, filter, group, sort, select, and export tabular data.</p>
                    </div>
                    <div style="margin-top: 11em;">
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Basic", "BasicGrid", "Grid")</span>
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Pro", "ProGrid", "Grid")</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md mt-4 mb-4">
            <div class="container">
                <div class="front" style="background-image: url('../../Content/img/Gradients/Fly High.png')">
                    <div class="inner">
                        <p>Chart</p>
                        <span>@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/img/Components/barcharts.svg")))</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>The Charts allow users to visualise and output graphical representations of data.</p>
                    </div>
                    <div style="margin-top: 11em;">
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em">@Html.ActionLink("Basic", "BasicChart", "Chart")</span>
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em">@Html.ActionLink("Pro", "ProChart", "Chart")</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md mt-4 mb-4">
            <div class="container">
                <div class="front" style="background-image: url(../../Content/img/Gradients/Nega.png)">
                    <div class="inner">
                        <p>Sheduler</p>
                        <span>@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/img/Components/scheduler.svg")))</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>The Scheduler allows users to view and edit their event calendar and others options.</p>
                    </div>
                    <div style="margin-top: 11em;">
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Basic", "BasicScheduler", "Scheduler")</span>
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Pro", "ProScheduler", "Scheduler")</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md mt-4 mb-4">
            <div class="container">
                <div class="front" style="background-image: url('../../Content/img/Gradients/Night Sky.png')">
                    <div class="inner">
                        <p>DropDownList</p>
                        <span>@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/img/Components/dropdownlist.svg")))</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>The DropDownList allows users to single select a single value from a predefined list.</p>
                    </div>
                    <div style="margin-top: 11em;">
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Basic", "BasicDropdownList", "DropdownList")</span>
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Pro", "ProDropDownList", "DropdownList")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md mt-4 mb-4">
            <div class="container">
                <div class="front" style="background-image: url('../../Content/img/Gradients/Warm Flame.png')">
                    <div class="inner">
                        <p>Autocomplete</p>
                        <span>@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/img/Components/grid.svg")))</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>The AutoComplete provides suggestions depending on the typed text and allows multiple value entries.</p>
                    </div>
                    <div style="margin-top: 11em;">
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Basic", "BasicAutocomplete", "Customer")</span>
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Pro", "ProAutocomplete", "Customer")</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md mt-4 mb-4">
            <div class="container">
                <div class="front" style="background-image: url('../../Content/img/Gradients/Winter Neva.png')">
                    <div class="inner">
                        <p>Combobox</p>
                        <span>@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/img/Components/grid.svg")))</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>The ComboBox displays a list of values and allows for a single selection from the list.</p>
                    </div>
                    <div style="margin-top: 11em;">
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Basic", "BasicCombobox", "ComboBox")</span>
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Pro", "ProCombobox", "ComboBox")</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md mt-4 mb-4">
            <div class="container">
                <div class="front" style="background-image: url('../../Content/img/Gradients/Happy Fisher.png')">
                    <div class="inner">
                        <p>CheckBox</p>
                        <span>@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/img/Components/grid.svg")))</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>The CheckBox component is part of Telerik UI for ASP.NET MVC, a professional grade UI library.</p>
                    </div>
                    <div style="margin-top: 11em;">
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Basic", "BasicCheckBox", "CheckBox")</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md mt-4 mb-4">
            <div class="container">
                <div class="front" style="background-image: url('../../Content/img/Gradients/Saint Petersberg.png')">
                    <div class="inner">
                        <p>DatePickers</p>
                        <span>@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/img/Components/daterangepicker.svg")))</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>The DatePickers enables the user to select a date from a calendar or through a direct input.</p>
                    </div>
                    <div style="margin-top: 11em;">
                        <span class="k-button k-flat k-primary" style="font-size: 1.1em;">@Html.ActionLink("Basics", "BasicPickers", "Picker")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



